<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <script>
        console.log("User: {{ user }}");
    </script>
    
</head>

<body>
    <h1>Welcome to the home page!</h1>

    <table>
        <tr>
            <th style="text-align:left">Username:
            <td>{{user.username}}
        <tr>
            <th style="text-align:left">All Blogs:
    </table>

    <form action='logout/' method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout" />
    </form>
    {% if notes %}
    <ul>
        {% for note in notes %}
        <li>{{ note.content }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No notes found.</p>
    {% endif %}


    <form action='add/' method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Note:
        <input type="text" name="content"><br>
        <input type="submit" value="Save">
    </form>
</body>

</html>